@using WebBanCoffeeABC.Models;

@{
    tUser user = Session["User"] as tUser;
    QLCoffee_ABCEntities db = new QLCoffee_ABCEntities();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cà Phê ABC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/Content/assets/images/5390613.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Asset/css/main.css">
    <!--===============================================================================================-->
</head>
<body class="animsition">

    <header class="header-v4">
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <!-- Topbar -->
            <div class="top-bar">
                <div class="content-topbar flex-sb-m h-full container">
                    <div class="left-top-bar">
                        Tặng Voucher Giảm Giá 30% từ Thứ 2 đến Thứ 7 hàng tuần
                    </div>

                    <div class="right-top-bar flex-w h-full">
                        <a href="@Url.Action("Contact","ABCHome")" class="flex-c-m trans-04 p-lr-25">
                            Help & FAQs
                        </a>

                        @if (Session["tUser"] != null)
                        {
                            <a href="#" class="flex-c-m trans-04 p-lr-25">
                                My Account
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Login","Login")" class="flex-c-m trans-04 p-lr-25">
                                My Account
                            </a>
                        }
                        @if (Session["tUser"] != null)
                        {
                            <a href="#" class="flex-c-m trans-04 p-lr-25">
                                My Order
                            </a>
                            <a href="@Url.Action("Logout","Users")" class="flex-c-m trans-04 p-lr-25">
                                Logout
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Login","Login")" class="flex-c-m trans-04 p-lr-25">
                                My Order
                            </a>
                        }

                    </div>
                </div>
            </div>

            <div class="wrap-menu-desktop">
                <nav class="limiter-menu-desktop container">

                    <!-- Logo desktop -->
                    <a href="@Url.Action("Index","ABCHome")" class="logo">
                        <img src="~/Content/assets/images/ABCCoffeeLogo1.png" alt="IMG-LOGO">
                    </a>

                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li>
                                <a href="@Url.Action("Index","ABCHome")">Home</a>

                            </li>

                            <li>
                                <a href="@Url.Action("Shop","Shop")">Shop</a>
                            </li>


                            <li>
                                <a href="@Url.Action("about","ABCHome")">About</a>
                            </li>

                            <li>
                                <a href="@Url.Action("contact","ABCHome")">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Icon header -->
                    <div class="wrap-icon-header flex-w flex-r-m">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                            <i class="zmdi zmdi-search"></i>
                        </div>

                        @*@Html.Action("ViewCard", "Cart")*@

                        @if (Session["tUser"] == null)
                        {
                            <a href="@Url.Action("Login","Login")" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">

                                <i class="zmdi zmdi-account"></i>
                            </a>
                        }
                        else
                        {
                            var xx = Session["UserName1"].ToString();
                            var y = Session["Password1"].ToString();
                            var u = db.tUsers.FirstOrDefault(x => x.username == xx && x.password == y);
                            if (u != null)
                            {
                                var kh = db.tKhachHangs.FirstOrDefault(x => x.username == u.username);
                                if (kh != null)
                                {
                                    <div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-l-22 m-t-6">
                                        <img src="@kh.AnhDaiDien" alt="AVATAR">
                                    </div>
                                }
                                else
                                {
                                    var nv = db.tNhanViens.FirstOrDefault(x => x.username == u.username);
                                    if (nv != null)
                                    {
                                        <div @*class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-l-22 m-t-6"*@>
                                            <img src="@nv.AnhDaiDien" alt="AVATAR" style="width:60px ; height:60px;border-radius:30px;">
                                        </div>
                                    }
                                }

                            }
                        }
                    </div>
                </nav>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="@Url.Action("Index","CozaHome")"><img src="~/Asset/images/icons/logo-01.png" alt="IMG-LOGO"></a>
            </div>

            <!-- Icon header -->
            <div class="wrap-icon-header flex-w flex-r-m m-r-15">
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
                    <i class="zmdi zmdi-search"></i>
                </div>

                <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="2">
                    <i class="zmdi zmdi-shopping-cart"></i>
                </div>

                <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" data-notify="0">
                    <i class="zmdi zmdi-favorite-outline"></i>
                </a>
            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>


        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li>
                    <div class="left-top-bar">
                        Tặng Voucher Giảm Giá 30% từ Thứ 2 đến Thứ 7 hàng tuần
                    </div>
                </li>

                <li>
                    <div class="right-top-bar flex-w h-full">
                        <a href="@Url.Action("Contact","ABCHome")" class="flex-c-m p-lr-10 trans-04">
                            Help & FAQs
                        </a>

                        @*@if (user != null)
                        {
                            <a href="@Url.Action("Information","Users",new {id = tUser.Userid })" class="flex-c-m trans-04 p-lr-25">
                                My Account
                            </a>
                            <a href="@Url.Action("Information","Users",new {id = tUser.Userid })" class="flex-c-m trans-04 p-lr-25">
                                Logout
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Login","Login")" class="flex-c-m trans-04 p-lr-25">
                                My Account
                            </a>
                        }*@

                    </div>
                </li>
            </ul>

            <ul class="main-menu-m">
                <li>
                    <a href="@Url.Action("Index","CozaHome")">Home</a>

                </li>

                <li>
                    <a href="@Url.Action("Shop","Shop")">Shop</a>
                </li>


                <li>
                    <a href="@Url.Action("about","ABCHome")">About</a>
                </li>

                <li>
                    <a href="@Url.Action("contact","ABCHome")">Contact</a>
                </li>
            </ul>
        </div>

        <!-- Modal Search -->
        <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
            <div class="container-search-header">
                <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                    <img src="~/Asset/images/icons/icon-close2.png" alt="CLOSE">
                </button>

                <form action="@Url.Action("Shop","Shop")" method="post" class="wrap-search-header flex-w p-l-15">
                    <button class="flex-c-m trans-04" type="submit">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                    <input class="plh3" type="text" name="search" placeholder="Search...">
                </form>
            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>


    <footer class="bg3 p-t-75 p-b-32">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        ABCCOFFEE
                    </h4>

                    <ul>
                        <li class="p-b-10">
                            <a href="@Url.Action("Index","ABCHome")" class="stext-107 cl7 hov-cl1 trans-04">
                                Home
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="@Url.Action("Shop","Shop")" class="stext-107 cl7 hov-cl1 trans-04">
                                Shop
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="@Url.Action("contact","ABCHome")" class="stext-107 cl7 hov-cl1 trans-04">
                                Contact
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="@Url.Action("about","ABCHome")" class="stext-107 cl7 hov-cl1 trans-04">
                                About
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Help
                    </h4>

                    <ul>
                        <li class="p-b-10">
                            <a href="@Url.Action("contact","ABCHome")" class="stext-107 cl7 hov-cl1 trans-04">
                                Track Order
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="@Url.Action("contact","ABCHome")" class="stext-107 cl7 hov-cl1 trans-04">
                                Returns
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="@Url.Action("contact","ABCHome")" class="stext-107 cl7 hov-cl1 trans-04">
                                Shipping
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="@Url.Action("contact","ABCHome")" class="stext-107 cl7 hov-cl1 trans-04">
                                FAQs
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        GET IN TOUCH
                    </h4>

                    <p class="stext-107 cl7 size-201">
                        Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
                    </p>

                    <div class="p-t-27">
                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-instagram"></i>
                        </a>

                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Newsletter
                    </h4>

                    <form>
                        <div class="wrap-input1 w-full p-b-4">
                            <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
                            <div class="focus-input1 trans-04"></div>
                        </div>

                        <div class="p-t-18">
                            <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                Subscribe
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="p-t-40">
                <div class="flex-c-m flex-w p-b-18">
                    <a href="#" class="m-all-1">
                        <img src="~/Asset/images/icons/icon-pay-01.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/Asset//images/icons/icon-pay-02.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/Asset/images/icons/icon-pay-03.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/Asset/images/icons/icon-pay-04.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/Asset/images/icons/icon-pay-05.png" alt="ICON-PAY">
                    </a>
                </div>

                <p class="stext-107 cl6 txt-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                </p>
            </div>
        </div>
    </footer>
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>
    <!--===============================================================================================-->
    <script src="~/Asset/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Asset/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Asset/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Asset/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Asset/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Asset/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Asset/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Asset/vendor/slick/slick.min.js"></script>
    <script src="~/Asset/js/slick-custom.js"></script>

    <!--===============================================================================================-->
    <script src="~/Asset/vendor/parallax100/parallax100.js"></script>

    <script>
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="~/Asset/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/Asset/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Asset/vendor/sweetalert/sweetalert.min.js"></script>

    <script>
        $('.js-addwish-b2').on('click', function (e) {
            e.preventDefault();
        });

        $('.js-addwish-b2').each(function () {
            var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-b2');
                $(this).off('click');
            });
        });

        $('.js-addwish-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-detail');
                $(this).off('click');
            });
        });

        /*---------------------------------------------*/

        $('.js-addcart-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to cart !", "success");
            });
        });

    </script>
    <!--===============================================================================================-->
    <script src="~/Asset/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/Asset/js/main.js"></script>
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "102027959407739");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "102027959407739");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v15.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>
