@model  IEnumerable<WebBanCoffeeABC.Models.tDanhMucSP>
@using WebBanCoffeeABC.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    QLCoffee_ABCEntities db = new QLCoffee_ABCEntities();
    var listProduct = db.tDanhMucSPs.ToList();
}

<section class="section-slide">
    <div class="wrap-slick1">
        <button class="arrow-slick1 prev-slick1 slick-arrow" style=""><i class="zmdi zmdi-caret-left"></i></button>
        <div class="slick1 slick-initialized slick-slider">
            <div class="slick-list draggable">
                <div class="slick-track">
                    <div class="item-slick1 d-block slick-slide" style="background-image: url('../../Content/assets/images/AboutSlider.png'); width:1860px; height:550px;">
                        <div class="container h-full">
                            <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                                <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                                    <span class="ltext-101 cl2 respon2">
                                        ABC COFFEE
                                    </span>
                                </div>

                                <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                                    <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                        CAPUCHINO
                                    </h2>
                                </div>

                                <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                                    <a href="/Shop/Shop" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" tabindex="-1">
                                        SHOP NOW
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="arrow-slick1 next-slick1 slick-arrow" style=""><i class="zmdi zmdi-caret-right"></i></button>
    </div>
</section>

<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                OverView Coffee ABC
            </h3>
        </div>

        <div class="flex-w flex-sb-m p-b-52">
            @*<div class="flex-w flex-l-m filter-tope-group m-tb-10">
                    @Html.Action("TypeShose", "CozaHome")
                </div>*@

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Search
                </div>
            </div>

            <!-- Search product -->
            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <div class="bor8 dis-flex p-l-15">
                    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>

                    <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
                </div>
            </div>
        </div>

        <div class="row isotope-grid">

            @foreach (var item in Model)
            {
                var strImg = "";
                var Img = item.tAnhSPs.FirstOrDefault(x => x.AnhMacDinh == true);
                if (Img != null)
                {
                    strImg = Img.TenFileAnh;
                }
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img style="width:270px; height:270px;" src="@strImg" alt="IMG-PRODUCT">

                            <a href="@Url.Action("ProductDetails", "ABCHome", new {MaSP = item.MaSP})" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                View
                            </a>
                        </div>

                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                <a href="@Url.Action("ProductDetails", "ABCHome", new {MaSP = item.MaSP})" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    @item.TenSP
                                </a>

                                <span class="stext-105 cl3">
                                    @Html.FormatValue(@item.GiaGoc, "{0:#,#0}") VND
                                </span>
                            </div>

                            <div class="block2-txt-child2 flex-r p-t-3">
                                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                    <img class="icon-heart1 dis-block trans-04" src="~/Asset/images/icons/icon-heart-01.png" alt="ICON">
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/Asset/images/icons/icon-heart-02.png" alt="ICON">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        <!-- Load more -->
        <div class="flex-c-m flex-w w-full p-t-45">
            <a href="@Url.Action("Shop","Shop")" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                Tải Thêm
            </a>
        </div>
    </div>
</section>



