@model  IEnumerable<WebBanCoffeeABC.Models.tDanhMucSP>
@{
    ViewBag.Title = "ShowP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex-w flex-l-m filter-tope-group m-tb-10" style="padding-left:120px">
    @Html.Action("TypeCoffee", "ABCHome")
</div>


<div class="row isotope-grid">
    @for (var i = 0; i < Model.Count(); i++)
    {
        var item = Model.ElementAt(i);
        var strImg = "";
        var Img = item.tAnhSPs.FirstOrDefault(x => x.AnhMacDinh == true);
        if (Img != null)
        {
            strImg = Img.TenFileAnh;
        }

        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item @item.MaSP">
            <!-- Block2 -->
            <div class="block2 d-flex flex-column justify-content-between">
                <div class="block2-pic hov-img0 d-flex justify-content-center align-items-center">
                    <img style="width:270px; height:270px;" src="@strImg" alt="IMG-PRODUCT"><!--hinh san pham-->
                    <a href="@Url.Action("ProductDetails","ABCHome", new { MaSP = item.MaSP })" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                        View
                    </a>
                </div>

                <div class="block2-txt flex-column justify-content-center align-items-center p-t-14">
                    <div class="block2-txt-child1 text-center">
                        <a href="@Url.Action("ProductDetails","ABCHome", new { MaSP = item.MaSP })" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                            @item.TenSP
                        </a>
                        <br />
                        <span class="stext-105 cl3">
                            @Html.FormatValue(@item.GiaGoc, "{0:#,#0}") VND
                        </span>
                    </div>
                </div>
            </div>
        </div>

        if ((i + 1) % 4 == 0)
        {
            // Đóng hàng (kết thúc dòng và bắt đầu hàng mới)
            <div class="clearfix visible-sm"></div>
            <div class="clearfix visible-md"></div>
            <div class="clearfix visible-lg"></div>
        }
    }
</div>


