@using WebBanCoffeeABC.Models
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //List<WebBanCoffeeABC.Models.tKichThuoc> lstsize = ViewBag.Size as List<WebBanCoffeeABC.Models.tKichThuoc>;
    tUser user = Session["User"] as tUser;
    List<tKichThuoc> lstsize = ViewBag.Size as List<tKichThuoc>;
    List<Cart> lstCart = ViewBag.lstCart as List<Cart>;
    QLCoffee_ABCEntities db = new QLCoffee_ABCEntities();
}

<div class="container">
    <div class=" m-lr-auto m-b-50">
        <div class="m-l-25 m-r--38 m-lr-0-xl">
            <div class="wrap-table-shopping-cart">
                <table class="table-shopping-cart">
                    <tr class="table_head">
                        <th style="text-align: center">Product</th>
                        <th class="column-2"></th>
                        <th style="text-align: center">Size</th>
                        <th style="text-align: center">Giá</th>
                        <th style="text-align: center">Số Lượng</th>
                        <th style="text-align: center">Tổng</th>
                        <th style="text-align: center">Action</th>
                    </tr>
                    @foreach (var item in lstCart)
                    {
                        var strImg = "";
                        var p = db.tDanhMucSPs.FirstOrDefault(x => x.MaSP == item.Productid);
                        var Img = p.tAnhSPs.FirstOrDefault(x => x.AnhMacDinh == true);
                        if (Img != null)
                        {
                            strImg = Img.TenFileAnh;
                        }
                        <tr class="table_row">
                            <td class="column-1">

                                <a href="@Url.Action("DeleteProduct","Cart", new { productid = item.Productid })">
                                    <div class="how-itemcart1">
                                        <img src="@strImg" alt="IMG">
                                    </div>
                                </a>

                            </td>
                            <td style="text-align: center">
                                <a href="@Url.Action("ProductDetails","CozaHome", new { productid = item.Productid })" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    @item.ProductName
                                </a>

                            </td>
                            @{
                                string size = "";
                                string color = "";
                                foreach (var sz in lstsize)
                                {
                                    if (sz.MaKichThuoc == item.Sizeid)
                                    {
                                        size = sz.KichThuoc;
                                        break;
                                    }
                                }
                            }
                            <td style="text-align: center">
                                @size
                            </td>
                            
                            <td style="text-align: center"> @Html.FormatValue(@item.ProductPrice, "{0:#,#0}") đ</td>
                            @using (Html.BeginForm("UpdateCart", "cart", new { productid = item.Productid }))
                            {
                                <td class="column-3">
                                    <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-minus"></i>
                                        </div>

                                        <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="@item.ProductNumber">

                                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-plus"></i>
                                        </div>
                                    </div>
                                </td>

                                <td style="text-align: center"> @Html.FormatValue(@item.TotalProductPrice, "{0:#,#0}") đ</td>
                                <td class="p-l-50">
                                    <input type="submit" value="Update" class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10" " />
                                </td>
                            }

                        </tr>
                    }
                    <tr>
                        <td colspan="2" style="text-align: center">
                            Subtotal( <span style="color:red">@ViewBag.Number items </span> ) :
                        </td>
                        <td colspan="5">
                            <div class="flex-r-m stext-101 cl2 size-119 p-lr-15 trans-04 m-tb-10">
                                @Html.FormatValue(ViewBag.TotalPrice, "{0:#,#0}") đ

                            </div>

                        </td>
                    </tr>
                </table>
            </div>

            <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                <div class="flex-w flex-m m-r-20 m-tb-5">

                </div>

                <div>
                    <a class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10"
                       href="@Url.Action("ClearCart","Cart")">Clear Shopping Cart</a>
                </div>
            </div>
            <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                <div class="flex-w flex-m m-r-20 m-tb-5">

                </div>

                <div>
                    <a href="@Url.Action("ShoppingCard","Cart")"
                       class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                        Shopping Cart
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

