@model  WebBanCoffeeABC.Models.tHoaDonBan
@using WebBanCoffeeABC.Models;
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var i = 0;
    QLCoffee_ABCEntities db = new QLCoffee_ABCEntities();
}
@section naviheader{
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html"><img src="~/Content/assets/images/logo.svg" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/Content/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
        </button>
        <div class="search-field d-none d-md-block col-4">
            <form class="d-flex align-items-center h-100" action="#">
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <i class="input-group-text border-0 mdi mdi-magnify"></i>
                    </div>
                    <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
                </div>
            </form>
        </div>
        <ul class="navbar-nav navbar-nav-right col-4">
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="nav-profile-img">
                        <img src="~/Content/assets/images/faces/face1.jpg" alt="image">
                        <span class="availability-status online"></span>
                    </div>
                    <div class="nav-profile-text">
                        <p class="mb-1 text-black">David Greymaax</p>
                    </div>
                </a>
                <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="#">
                        <i class="mdi mdi-cached me-2 text-success"></i> Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <i class="mdi mdi-logout me-2 text-primary"></i> Signout
                    </a>
                </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
                <a class="nav-link">
                    <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-email-outline"></i>
                    <span class="count-symbol bg-warning"></span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                    <i class="mdi mdi-bell-outline"></i>
                    <span class="count-symbol bg-danger"></span>
                </a>
            </li>
            <li class="nav-item nav-logout d-none d-lg-block">
                <a class="nav-link" href="#">
                    <i class="mdi mdi-power"></i>
                </a>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="#">
                    <i class="mdi mdi-format-line-spacing"></i>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card overflow-auto">
            <div class="card-header">
                <h1 style="display:flex; justify-content:center;">Thông Tin Đơn Hàng</h1>
            </div>
            <div class="card-body">
                <form action="/admin/order/detail">
                    <div class="form-group">
                        <label>Mã Khách Hàng</label>
                        <input type="text" class="form-control" name="TenKhachHang" value="@Model.MaKhachHang" readonly>
                    </div>
                    <div class="form-group">
                        <label>Phương Thức Thanh Toán</label>
                        @if (Model.PhuongThucThanhToan == 1)
                        {
                            <input type="text" class="form-control" value="Trực Tiếp"  readonly/>
                        }
                        else
                        {
                            <input type="text" class="form-control" value="Banking" readonly/>
                        }
                    </div>
                    <div class="form-group">
                        <label>Ghi Chú</label>
                        <textarea class="form-control" name="GhiChu" readonly>@Html.Raw(Model.GhiChu)</textarea>
                    </div>
                    <div class="form-group">
                        <label>Tổng Tiền Hóa Đơn</label>
                        <input type="text" class="form-control" name="TongTienHD" id="TongTienHD" value="@Model.TongTienHD" readonly />
                    </div>
                    <div class="form-group">
                        <label>Giảm Giá Hóa Đơn</label>
                        <input type="text" class="form-control" name="GiamGiaHD" value="@Model.GiamGiaHD" readonly />
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã SP</th>
                                    <th>Tên SP</th>
                                    <th>Ảnh SP</th>
                                    <th>Kích Cỡ</th>
                                    <th>Giá Tiền</th>
                                    <th>Số Lượng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.tChiTietHDBs)
                                {
                                    var strImg = "";
                                    var p = db.tDanhMucSPs.FirstOrDefault(x => x.MaSP == item.MaSP);
                                    var Img = p.tAnhSPs.Where(x=>x.AnhMacDinh);
                                    if(Img!=null)
                                    {
                                        strImg = Img.ElementAt(0).TenFileAnh;
                                    }
                                    <tr class="text-center">
                                        <td><div class="form-group">@(i+1)</div></td>
                                        <td><div class="form-group"><input type="text" class="form-control" value="@item.MaSP" readonly /></div></td>
                                        <td><div class="form-group"><input type="text" class="form-control" value="@item.tDanhMucSP.TenSP" readonly /></div></td>
                                        <td><div class="form-group"><img src="@strImg" style="width:100px; height:100px;border-radius:unset;"/></div></td>
                                        <td><div class="form-group"><input type="text" class="form-control" value="@item.KichCo" readonly /></div></td>
                                        <td><div class="form-group"><input type="text" class="form-control" value="@item.GiaBan" readonly /></div></td>
                                        <td><div class="form-group"><input type="text" class="form-control" value="@item.SoLuong" readonly /></div></td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                        <input type="hidden" id="tCurrentId" value="0" />
                    </div>
                    <div class="form-group" style="margin-top:50px;">
                        <a href="/admin/order/index" class="btn btn-light">Quay Lại</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
